/EKE_2002.ipynb
/EKE_30y.png
/EKE_30y_speed.png
/EKE_30y_speed_f.png
/EKE_f_30y.png
/EKE_TKE.png
/ke30y.png
/ke30yf.png
/KE_mean.png
/KE_mean_f.png
/KE_total.png
/KE_total_f.png
/mean_EKE.npy
/mean_KE.npy
/mean_KE_total.npy
/MKE_TKE.png
/part_variable.ipynb
/Presentación1.pptx
/prova.py
/prova_2.ipynb
/ratio.png
/ratioplot.ipynb
/ratio_zoom.png
/Ratio_zoom_1.png
/Ratio_zoom_2.png
/Ratio_zoom_3.png
/Ratio_zoom_4.png
/save_array.ipynb
/sla.png
/TKE.png